@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:wght@400;500&display=swap');

@font-face {
  font-family: "Butler";
  font-weight: 700;
  src: local("Butler"),
    url("../fonts/butler/Butler_Bold.otf") format("opentype");
}

@font-face {
  font-family: "Butler";
  font-family: 400;
  src: local("Butler"),
    url("../fonts/butler/Butler_Regular.otf") format("opentype");
}