@import '../../styles/vars.scss';

.header {

  background-color: #fff;

  &__top {
    border-bottom: 1px solid $secondaryText;
  }

  &__topContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  &__topLabel {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 13px;
    color: $secondaryText;
  }

  &__topMenu {
    display: flex;
    height: 100%;

    &>li {
      border-right: 1px solid $secondaryText;
    }
  }

  &__langList {
    &>li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__login {
    margin-bottom: 20px;
  }

  &__createAccount {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 13px;
    color: $primaryText;
    transition: 0.3s;

    &:hover {
      color: #000;
    }
  }

  &__bottom {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-family: 'Lora';
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    color: $primaryDarkText;
  }

  &__search,
  &__cart {
    color: $primaryDarkText;
    cursor: pointer;
  }

  &__cart {
    font-size: 26px;

  }

  &__search {
    font-size: 24px;
    margin-left: 50px;
  }
}

.headerDropDown {
  height: 100%;
  position: relative;

  &__title {
    font-size: 13px;
    font-family: 'Lora';
    font-weight: 400;
    color: $secondaryText;
    text-transform: capitalize;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 35px 0 20px;
    height: 100%;
    position: relative;
    transition: 0.3s;

    &::after {
      content: '';
      display: block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 5px 5px 5px 5px;
      border-color: $secondaryText transparent transparent transparent;
      position: absolute;
      right: 15px;
      top: calc(50% - 2px);
      transition: 0.3s;
    }

    &:hover {
      color: #000;

      &::after {
        border-color: #000 transparent transparent transparent;
      }
    }

    &.active {
      &::after {
        transform: rotateX(180deg) translateY(5px);
      }
    }
  }

  &__content {
    position: absolute;
    top: 41px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(153, 153, 153, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.burger {
  width: 20px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  & span {
    width: 100%;
    height: 2px;
    background-color: $primaryDarkText;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $primaryDarkText;
  }
}