@import '../../styles/vars.scss';

.productListingPage {

  &__heading {
    margin-bottom: 65px;
  }

  &__listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }

  &__summary {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    color: $primaryText;
    margin-bottom: 20px;
    align-self: flex-end;
  }
}